* {
  font-family: 'Raleway', sans-serif;
}

header {
	/* Layout declarations */
	padding: 70px 0;
	/* Appearance declarations */
	background-image: url(./resources/ColumbiaRiverGorge.JPG);
	background-repeat: no-repeat;
	background-size: cover;
	border-top: solid 16px #423f4f;
}

h1.greeting {
	text-align: center;
	color: black;
	font-family: "Open Sans", "Helvetica Neue", sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 70px;
	letter-spacing: 0px;
	text-shadow: 0px 0px 8px #423f4f;
}
h2.greeting {
	text-align: center;
	font-family: "Open Sans", "Helvetica Neue", sans-serif;
	font-style: normal;
  
}
.text {
	margin: 10px 30px;
}

.citation {
	margin: 10px 30px 10px 60px;
	text-indent: -30px;
	font-weight: bold;
}

footer {
	background-color: lightblue;
	text-align: center;

}